// Variables
$section-bg-color: #f5f5f5;
$main-bg-color: #1676DD;
$secondary-color: #f36819;
$section-header-shadow: 2px 2px 1px #999;
$section-border-shadow: 0 4px 2px -2px #999;
$button-shadow: 3px 3px 2px #888888;
$percentage-shadow: 3px 3px 2px #999;
$image-shadow: 6px 7px 4px #999;
$section-grid-max-width: 1500px;